.box{
    position: relative;
    width: 30vw;
    height: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(8, 8, 27);
    overflow: hidden;
}
.box::before{
    content: '';
    position: absolute;
    width: 150px;
    height: 140%;
    background: linear-gradient(#00ccff,#d400d4);
    animation: animate 4s linear infinite;
}
.box::after{
    content: '';
    position: absolute;
    inset: 4px;
    background: rgb(12, 20, 24);
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.box h1{
    position: relative;
    z-index: 111;
    color: #fff;
}